*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    background-image: url(https://images.unsplash.com/photo-1619472032094-eadb7ec01655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
    min-height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
}
